
*,
::before,
::after {
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.container.head {
    width: 92%;
    margin: 10px auto 0;
}

.container.left {
    width: 15%;
    margin-left: 45px;
}

.container.main {
    width: 75%;
}

.container.right {
    width: 16%;
    margin-right: 36px;
}

.angle {
    position: fixed;
    width: 540px;
    height: 270px;
    z-index: -1;
}

.angle.top {
    top: 0;
}

.angle.top.center {
    left: 50%;
    transform: translate(-50%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    font-size: 30px;
    font-family: 'Inter Tight', sans-serif;
    color: #204757;
    text-transform: uppercase;
}

.header__nav {
    width: 170px;
}

.header__nav__img {
    vertical-align: middle;
    margin: 10px;
}

/*                           LEft Form */
:root {
    --border-w: 3px;
}

.form {
    width: 87%;
    position: relative;
    padding: 1px 15px;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    left: 4%;
    box-shadow: 0px 6px 12px #8080805c, 0px 6px 12px 0px #80808000;
    z-index: 5;
    margin-bottom: 10px;
    min-width: none;
}

.form::before {
    content: "";
    position: absolute;
    inset: calc(0px - var(--border-w));
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(180deg, rgba(146, 213, 241, 1), rgba(146, 213, 241, 0));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;

}

.form.info {
    font-size: 14px;
    width: auto;
    border-radius: 15px;
    padding: 10px 5px;
    left: auto;
    font-weight: 600;
    z-index: 1;
}


a {
    text-decoration: none;
    color: inherit
}

a:hover {
    cursor: pointer;
}

.form__title {
    text-transform: uppercase;
    font-size: 15px;
    margin: 10px;
    font-family: 'Inter Tight', sans-serif;
    color: #204757;
}
.form.left{
    
    min-height: 30%;
}

.popular {
    margin: 7px;
    text-align: left;
}


/*                           Center Form */
.form.main {
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
    width: 100%;
    min-height: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    min-width: none;
    margin-bottom: 25px;
    box-shadow: none;

}

.form__block {
    text-align: left;
    padding: 10px;
}

.form__block__title {
    font-weight: 700;
    font-size: 25px;
    color: #204757;
}


.form__block__info {
    font-weight: 500;
    font-size: 20px;
    color: rgba(104, 131, 142, 1);

}


.form__block__link {
    width: 33%;
    height: 5%;
    margin: auto;
    margin-left: 120px;
    padding: 8px 15px;
    color: white;
    background-color: rgba(83, 201, 251, 1);
    border-radius: 15px;
    font-weight: 700;
    font-size: 27px;
    z-index: 2;
}


.form__theme {
    font-size: 30px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    padding: 10px 5px;;
}

.form__subtitle {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.form__owner {
    font-weight: 500;
    font-size: 17px;
    color: rgba(32, 71, 87, 1);
    margin-right: 50px;

}

.form__date {
    font-weight: 900;
    color: rgba(32, 71, 87, 1);
    margin-right: 30px;

}

.theme__container {
    margin: 10px;
}

.theme__img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.theme__title {
    font-size: 25px;
    margin: 15px 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
    text-align: left;


}

.theme__info {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0;

}

.display__flex__mt {
    margin-top: 20px;
    display: flex;
}

.display__flex {
    display: flex;
}

.action__button{
    display: flex;
    text-align: left;
    align-items: center;
    margin-top: 15px;
}

.action__button__element{
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.like__count{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.form__block__link.thread{
    width: auto;
    margin-right: -120%;

}
.display__flex.thread__flex{
    display: flex;
    justify-content: space-between;
}
.theme__container.main__page{
    padding: 10px;
    max-height: 400px;
    width: 100%;
    height: 100%;
}
.theme__info.main__page{
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form__page__subtitle.input.forum__page{
    color: black;
    width: 95%;
    border-radius: 20px;
    height: 90px;
}
.form__page__subtitle.input.forum__page.title{
    height: 45px;
    margin-bottom: 5px;

}

.next__step.thread__creation{
    margin: 20px 0;

}

.search__thread{
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
}

.display__flex.thread__flex.search__thread{
    width: 100%;
}

.display__flex.thread__flex.search__thread.select {
    width: 100%;
    outline: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    appearance: none;
    border: none;
}

.display__flex.thread__flex.search__thread.select option {
    width: auto;
}

.display__flex.thread__flex.search__thread.select option:checked {
    color: #92D5F1;
    width: auto;
    display: inline; /* Display options inline */
    margin-right: 10px; /* Adjust spacing between options */
}
/* Style for the custom select container */

.form main.form__left{
    left: 0;
}

input[type="checkbox"] {
    width: 0;
}
input[type="checkbox"]:checked + .form.info.problem {
    color: #92D5F1;
}

/* Additional styles for focus */
.problem__button:focus .form.info.problem {
    color: #92D5F1;
}

/* Optional: cursor pointer styles */
.form.info.problem {
    cursor: pointer;
}
