.container.main.profile{
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
}

.profile__photo{
    width: 280px;
    height: 280px;
    text-align: center;
}
.profile__photo__img{
    border-radius: 45%;
}

.profile__info{
    position: relative;
    margin-left: 5%;
    width: 60%;
}

.edit__info{

    display: flex;
}

.nav__img__proile{
    margin-top: 20px;
}

.margin__top{
    margin-top: 2%;
}

.worker{
    text-transform: lowercase;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'SF Pro Display' , sans-serif;
    font-weight: 900;
}
.profile__edit{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    text-align: left;
}

.profile__edit__title{
    font-size: 13px;
    font-weight: 600;

}
.profile__edit__info{
    margin-right: 20px;
    width: auto;
}

.profile__edit__info.nickname{
    margin-left: -90px;
}

.profile__edit__input{
    margin-top: 7px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #D1EDF9;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 25px;

}
.profile__edit__input.age {
    cursor: default;
    width: 55%;
}
.profile__edit__input.nickname {
    cursor: default;
    width: 80%;

}
.profile__edit__input.email {
    cursor: default;
    width: 100%;
}

.profile__edit__input::placeholder{
    color: black;
    text-align: center;
}

.profile__edit__info.email{
    width: 130%;
}

.problems__input.profile{
    height: 150px;
}

.profile__edit__info.textarea{
    margin-top: 20px;
    margin-bottom: 30px;
}

textarea{
    font-family: "SF Pro Display";
}

.display__flex.profile{

}

.log__out{
    color: #FF8F8F;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    margin-right: 15px;
}

.nav__img.change__photo{
    margin-top: 10px;
    text-decoration: underline;
    text-transform: lowercase;
    color: #666;;
    font-size: 14px;
    font-weight: 600;

}

.nav__img.change__photo{

}

.form.info.problem.profile{
    cursor: pointer;
    display:inline-flex;
    padding: 12px 10px;
    margin: 20px 10px 10px;
    width: fit-content;

}



.img__update__button{
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    width: auto;
    cursor: pointer;
    margin-top: 10px;

}
/*.input-file span {

    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: #FF8F8F;
    line-height: 22px;
    padding: 10px 20px;
    margin: 10px;
}*/
.input-file input[type=file] {
    margin-top: 10px;
    display: block;
    width: 0;
    height: 0;
}

.input-file-text{
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}
.input-file-btn {
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    background-color: #FF8F8F;
    line-height: 22px;
    padding: 10px 20px;
    margin-top: 20px;
}

.edit__profile__info{
    position: absolute;
    top: 2%;
    right: 0;
}

.profile__edit__input.edit{
    background-color: #DEDEDE;
    width: 90%;
}
.profile__edit.first{
    width: 120%;
}

.profile__info.edit{
    width: 70%;
}

.profile__edit__info.edit{
    margin: 0;
}
