.articles__form{
    font-size: 40px;
    margin: 15px 0;
    font-weight: 700;
}

.form.main.article{
    display: block;
    pad: 0;
}

.img__position{
    width: 104%;
    height: 80%;
    position: relative;
    top: -2px;
    left: -2%;
}
.next__step.article{
    align-items: center;
    width: auto;
    height: 50px;
    margin-left: 20px;
}

.display__flex.article{
    align-items: center;
}

.input-file-btn.article{
    margin-bottom: -10px;
    color: black;
    font-size: 17px;
    border-radius: 10px;
    padding: 10px 50px;
    font-weight: 600;
    background-color: inherit;
    border: #92D5F1 dashed 4px ;
}

.input-file.article{
    margin-top: 10px;

}

.article__img{
    height: 200px;
}

.edit__img__container{
    position: relative;
    bottom: 120px;
    right: 0;
    z-index: 100;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: inherit;
}
.edit__img__container.article{
    position: static;
    margin-left: 30px;

}

.parametr__buttons__container.article{
    position: static;
    background-color: inherit;
    display: flex;
    margin-right: 60px;
}

.form__page__title.article{
    display: flex;
    justify-content: space-between;
}

.post.article{
    margin-left: 10px;
    padding: 5px 10px;
}
.article__detail{
    width: 100%;
}
.form.main.article.cont{
    width: 90%;
}